* {
    font-family:'Times New Roman', Times, serif;
}

.recipe_link {
    text-decoration: none;
}
header, footer {
    background: rgb(4, 4, 99);    
}
.navbar button, .navbar button span {
    color: white;
}
.navbar img {
    position: relative;
    height: 2.1rem;
}
.logo {
    position: relative;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbarNavDropdown {
    position: inherit;
    right: 1rem;
}
main {
    min-height: calc(100vh - 10.9rem);
}
footer {
    height: 7.4rem;
}
h3 {
    font-size: 1.5rem;
    color: #444;
    font-weight: bold;
}

.nav-item {
    font-size: 1rem;
}

.dropdown-menu a {
    font-size: 1rem;
}

.profile {    
    border-radius: 50%;
    max-width: 50%;
    height: auto;
}
.logout {
    font-size: 1.1rem;
}
h4 span {
    font-weight: bold;
    color: rgb(4, 4, 99);
}
table {
    box-shadow: 1px 1px 8px 1px #888;
}
thead {
    background-color:#444444;
}
thead tr {
    font-weight: bold;
    font-size: 1.4rem;
    color:#ffffff;
}
tbody {
    background-color:rgb(255, 246, 234);
}
tbody th {
    font-weight: bold;
    font-size: 1.4rem;
    color:#444;
}
table td a {
    text-decoration:none;
    color: rgb(22, 182, 4);
}
table td, p, ul li, ol li, li a {
    font-size: 1.7rem;
    color: rgb(22, 182, 4);  
    text-decoration: none;
}

.suggestion_container {
    border: solid 2px #999;
    padding: 1rem;
}

.suggestion_container ul li a, .suggestion_container ul li {
    color: rgb(22, 93, 244); 
    margin: 1rem 0;
}

ol li a, b {
    margin: 0.3rem;
}
b {
    font-size: 1.1rem;
    color: #555555;
}
select:hover {
    box-shadow: 1px 1px 5px rgb(240, 144, 41);
}
option {
    color: rgb(240, 144, 41);
}

.close {
    background-color: transparent;
}

.close span {
    font-family: "Comic Sans MS", "Comic Sans", "cursive";
    color: rgb(58, 117, 123);
}
.form, .recovery-form {
    background-color:rgb(255, 249, 241);
    box-shadow: 1px 1px 8px 1px #888;
    padding: 1.5rem;
}
.recovery-form {
    background-color:#fff;
    box-shadow: 1px 1px 8px 1px #888;
    padding: 3rem;    
}
label, select, input, option {
    font-size: 1.2rem;
}

.bg-form  {
    background-color: rgb(255, 250, 234);
    box-shadow: 1px 1px 2px #888;   
}

.fa-user{
    font-size: 1.3rem;
}
.jumbotron li{
    font-size: 1.6rem;
}
.bg-form ul li {
    list-style: none;
    font-size: 1.2rem;
}

.is-required:after {
    content: '*';
    margin-left: 3px;
    color: red;
    font-weight: bold;
}

/*Error page made by purplexmoss (https://freefrontend.com/html-css-404-page-templates/)*/
.error {
    background-color: #95c2de;
}

.mainbox {
    background-color: #95c2de;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.err {
    color: #ffffff;
    font-size: 11rem;
}
.msg404 {
    text-align: center;
}
.far {
    font-size: 8.5rem;
    color: #ffffff;
}

.err2 {
    color: #ffffff;
    font-size: 11rem;
}

.msg {
    text-align: center;
    font-size: 1.8rem;
    margin: 0 1.7rem;
}

.errorlink {
    text-decoration: none;
    color: white;
}

.errorlink:hover {
    text-decoration: underline;
}

h2{
    color: #fff;
}

