/*Imporación de fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Quicksand:wght@600&family=Roboto+Condensed:ital@1&display=swap');

/*Formato general*/
* {
    font-family: 'Times New Roman', Times, serif;
}

/*Banner*/
header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.banner {
    position: relative;
    background: #fff;
    font-size: 25px;
    height: 7rem;
}

/*Formato del logo*/
.logo {
    position: relative;
    float: left;
}

.logo img {
    display: inline-block;
    width: 55%;
}

h3 {
    font-size: 18px;
    color: #0000FF;
}

h4 {
    font-size: 15px;
    color: #e9901d;
}

.nav-bar {
    background-color: #fff;
    border-bottom: 1px solid #bbb;
}

.nav-bar ul li a {
    color: #888;
}

.nav-bar ul li ul li a {
    color: #000;
}

.nav-bar ul ul {
    background-color: #fff;
    border: 1px solid rgb(248, 172, 172);
    box-shadow: 1px 1px 5px 1px #888;
}

.username div:nth-child(2) {
    font-family: 'Dancing Script';
    font-weight: bold;
    font-size: 20px;
}

/*Formato del footer*/
main {
    min-height: calc(100vh - 40px);
}

footer {
    font-size: 10px;
    height: 20px;
    color: rgb(0, 0, 0);
    border-top: 3px solid rgba(0, 0, 255, 0.4);
}

/*
menu de navegación
nav {
    background: #222;
}
.menu {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;    
    list-style: none;             
}
.menu li {
    padding: 5px 0;
}
.menu a {
    display: block;
    text-decoration: none;
    font-size: 17px; 
    color: #fff;
    padding: 5px;
}
.menu a:hover {
    color: #ffbf00;
}
formato de submenu
.submenu_container {
    position:relative;
}
.submenu {
    position: absolute;
    top: 41px;
    height: 205px;
    width: 160px;
    overflow: visible;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    background: rgba(0,0,0,0.8);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
}       
.submenu li {
    list-style: none;    
    border-bottom: 1px solid #fff;
}
.submenu_container:hover .submenu {
    opacity: 1;
    visibility: visible;
}
.fa-chevron-down{
    margin-left:5px;
}
/*Formato del menú de administrador
.submenu_2 {
    position: absolute;
    top: 41px;
    height: 295px;
    width: 135px;
    overflow: visible;
    transition: all 0.4s;
    transition-timing-function: linear;
    display: flex;
    flex-direction: column;
    background: rgba(0,0,0,0.8);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
}       
.submenu_2 li {
    list-style: none;    
    border-bottom: 1px solid #fff;
}
.submenu_container_2:hover .submenu_2 {
    opacity: 1;
    visibility: visible;
}
.submenu_2 li a {
    font-size: 13px;
}
/*Formato del botón de logout
.submenu_container_2 {
    position: relative;
    left: 5px;
}
.fa-cog {
    color: rgb(255, 255, 255);
}
.fa-cog:hover {
    color: rgb(249, 252, 75);
    transition: color ease-out 1.5s;
}
/*Formato de los formulario
form {
    display: flex;
    flex-direction: column;
}
form input, form label {
    margin: 10px 5px;
    font-size: 18px;
    font-weight: bold;
}
.field {
    color: #c25e01;
    font-size: 18px;
}
form input:focus{
    background: #ccc;
}
.btn_form {
    width: 80px;
    height: 30px;
    color: #fff;
    background:#222;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 20% 10%;
    box-shadow: 2px 2px 10px 1px rgb(95, 93, 93);
}
.btn_form:hover {
    color: #333;
    background:#fff;
    border: 1px solid #aaa;
    border-radius: 10% 20%;    
}
.table_titles {
    font-weight: bold;
}*/
/*Formato de mensajes de advertencia*/
p.no,
p.yes {
    font-size: 1.5em;
    margin-top: 20px;
    color: rgb(231, 17, 17);
    text-align: center;
}

p.yes {
    color: rgb(27, 207, 10);
}

/*Formato de más de dos submits
.submit-control input:first-child {
    margin-right: 70px;    
}
/*Formato de administración de estudiantes
.students_admin_container {
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}
.students_admin_container label {
    color: rgb(80, 36, 1);
    font-size: 17px;      
}
.radio_group {
    display: flex;
    align-items: center;
    justify-content: center;
}
.subcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}
.subcontainer form {
    display: flex;
    align-items: center;
}
.subcontainer select {
    margin: 1em 0px;
    font-size: 20px;
}
.subcontainer select:hover{
    background-color: #ddd;
    color: #0000ff;
}*/
/*Formato de fecha y hora actual de inicio
.welcome_message {
    display: flex;
    flex-direction: column;
    bottom: 1em;
    text-align: center;
}

.welcome_message p {
    color: #000000;
    font-weight: bold;
}

.welcome_message p:nth-child(2) {
    font-size: 15px;
}*/

/*formato de las tablas
.table_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;    
}*/
thead {
    background-color: rgba(255, 136, 0, 0.534);
}

tbody {
    background-color: rgba(79, 238, 39, 0.425);
}

table th,
table td {
    border: 1px dotted #111;
    font-size: 20px;
}

tbody tr:hover {
    background-color: rgb(255, 255, 255);
}

/*Formato de la presentación de archivos de respaldo
.table_container input:first-child {
    width: 4em;
    font-size: 25px;
}

.table_container label {
    font-weight: bold;
}

/*Formato link para volver a inicio
.go-back-up-link {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.go-back-up-link a {
    font-size: 10px;
    text-decoration: none;
    color:rgb(0, 0, 0);
}
.go-back-up-link a:after {
    content: url('../img/arrow.png');
    width: 10px;
    height: 10px;
    position:absolute;
}
/*Formato del popup 
.popup_container {
    display: flex;    
    justify-content: center;
    align-items: center;
    width: 100%;
}
.popup_subcontainer {
    display: none;
    position: absolute;
    top: 5px;
    text-align: center;  
    width: 50%;
    justify-content: center;
    align-items: center;     
}
.popup_content {
    height: 280px;
    width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    z-index: 1800;
}
.popup_content input {
    display: block;
    margin-bottom: 10px;
    padding: 6px;
    border: 1px solid gray;
}
.popup_content textarea {
    font-size: 20px;
    color:rgb(4, 0, 255);
}
.close {
    position: relative;
    float: right;
    bottom: 19px;
    left: 19px;
    width: 21px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
    cursor: pointer;
}
/*Formato del login*/
.login_container {
    /*display: flex;    
    flex-direction: column;
    align-items: center; 
    height: 625px;*/
    background-image: url('../img/Biblioteca.jpg');
    /*padding-top: 8%;*/
}

/*
.login {
    display: flex;
    flex-direction: column;
    min-width: 30%;    
    height: 70vh;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid #fff;
    text-align: center;
    align-items: center;    
}
.login h2 {
    font-size: 2em;
    color: #fff;
    margin-top: 1em;
}
.login form {
    display: flex;
    flex-direction: column;
    margin-top: 1.2em;
    align-items: center; 
}
.login label {
    font-size: 1.5em;
    color: #fff;
}
/*Formato de los íconos del banner
.extra-icons {
    display: flex;
    color: #fff;
}
.fa-print, .fa-database, .fa-book-open {
    color: #fff;
    font-size: 16px;     
    padding: 8px;  
}*/
/*Formato de la subida de archivos*/
.drop-zone {
    width: 500px;
    height: 300px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #44086b;
    border: 5px dashed #009578;
    border-radius: 10px;
    margin: 20px 0;
}

.drop-zone--over {
    border-style: solid;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}

/*Formato de la lista de archivos
#file_picker {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    border: 2px dotted #777;
    padding: 10px 0;
    margin: 5px 0 10px 0;
    width: 75vw;
    overflow: auto;
}
#file_picker div {
    display: flex;
    justify-content: center;
}
#file_picker div div {
    display: flex;
    flex-direction: column;    
    justify-content:center;
}
#file_picker div input, #file_picker > input{
    display: inline-block;
    max-width: 50px;
}
#file_picker a {
    display: block;
    font-size: 20px;
    text-decoration: none;
    font-family:"Roboto Condensed", sans-serif;
}
/*Formato de los links para entrar a la evaluación por indicadores
.btn_link_container {
    display: flex;
    align-items: center;
}
.btn_link {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px 10px;   
    margin-top: 10px; 
}
.btn_link a {
    display: inline-block;
    padding: 20px;
    width: 14em;
    margin: 4px;
    font-size: 25px;
    text-decoration: none;
    color: #ffffff;
    box-shadow: 1px -1px 3px 1px #666;
    border-radius: 20px 10px;    
    background: rgb(32, 203, 255);
    background: linear-gradient(90deg, rgb(44, 171, 255) 0%, rgb(1, 5, 110) 86%);
}
/*Formato de la sección de evaluación por competencias
.container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5px;
    align-items: flex-start;
}

.container div:first-child {
    margin: 10px 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container div:nth-child(2),
.container div:nth-child(4) {
    text-align: center;
    align-items: center;
    justify-content: center;
}
*/
label {
    font-weight: bold;
    font-size: 16px;
}

.indicadores-label {
    font-weight: lighter;
}

.light-label {
    font-weight: lighter;
}

.indicador-overflow {
    height: 25rem;
}



/*
#radio_group {
    display: flex;
    width: 35em;
    text-align: justify;
    justify-content: left;
    align-items: center;
}

#radio_group label,
.radio_group label {
    font-weight: lighter;
}

#radio_group label {
    font-size: 18px;
}

/*Formato de link de elegir otro curso
.go-behind-link {
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(255, 116, 2, 0.904);
    padding: 8px;
    border-radius: 15%;
    margin: 10px 0;
    box-shadow: 1px 1px 2px 1px #666;   
}
.go-behind-link a {
    color: #fff;
    text-decoration: none;
}
/*Formulario para seleccionar la asignatura
.select-form {
    display: flex;
    flex-direction: column;
}
.select-form div {
    display: flex;
}
/*Formato de link
.link {
    display: inline-block;
    color: rgb(26, 23, 207);
    font-size: 1.8em;
    text-decoration: none;
    margin-top: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
/*Responsive design
@media screen and (max-width: 768px) {
    .popup_container {
        width: 100vw;
    }

    .popup_subcontainer {
        width: 90vw;
    }
}

@media screen and (max-width: 830px) {

    /*formato de las tablas
    table th,
    table td {
        font-size: 15px;
    }
}

@media screen and (max-width: 575px) {

    /*formato de las tablas
    table th,
    table td {
        font-size: 8px;
    }
}

@media screen and (max-width: 330px) {

    /*formato de las tablas
    table th,
    table td {
        font-size: 6px;
    }
}