* {
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h3 {
    font-size: 1.5rem;
    color: #444;
    font-weight: bold;
}
.nav-item {
    font-size: 1.2rem;
}
.btn-outline-danger {
    margin-left: 0.2rem;
}
table {
    background-color:rgb(255, 246, 234);
    box-shadow: 1px 1px 8px 1px #888;

}
table th {
    font-weight: bold;
    font-size: 1.4rem;
    color:#444;
}
table td a {
    text-decoration:none;
    color: rgb(22, 182, 4);
}
table td {
    font-size: 1.2rem;
    color: rgb(22, 182, 4);
    
}
select:hover {
    box-shadow: 1px 1px 5px rgb(240, 144, 41);
}
option {
    color: rgb(240, 144, 41);
}

#form {
    background-color:rgb(255, 249, 241);
    box-shadow: 1px 1px 8px 1px #888;
    padding: 1.5rem;
}
#form label, #form select, #form input {
    font-size: 1.2rem;
}
#upperinput label, #upperinput label select, #upperinput label input, #upperinput select option  {
    font-size: 1.2rem;
}
.banner {
    background-color: rgb(240, 247, 253);
    height: 8vh;
    color: rgb(253, 38, 38);
    font-size: 1.8rem;
    font-weight: bold;
    font-style: italic;
}
.suggestionpannel {
    background-color: rgb(255, 250, 234);
    box-shadow: 1px 1px 2px #888;
    width: 11.5rem;
    padding: 1rem;
}
li a {
    text-decoration: none;
    font-size: 1.3rem;
    color: rgb(96, 96, 231);
    margin: 0.5rem;
}
.bg-form {
    background-color:rgb(255, 249, 241);
    box-shadow: 1px 1px 8px 1px #888;

}
